.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 100%;
}

/*Medium devices (550px and above)*/
@media screen and (min-width: 550px) {
        .panel {
            width: 25%;
        }
        .myMap {
            width: 75%;
        }
}
