html, body {
    font-family: arial;
    font-size: 15px;
    height: 100%;
    width: 100;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100%;
}

.title {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    text-indent: 20px;
}

.panel {
    max-height: 100%;
    max-width: 100%;
    text-indent: 10px;
    color: white;
    background-color: black;
    font-size: 15px;
}

.myMap {
    width: 100%;
    font-size: 15px;
}

li {
    color: white;
}

#myInput {
    color: black;
    width: 60%;

}
